
.landingmainoracle.landingmainforexeducation.landingmainformtype2.landingmainformtype4edu .mainbannermainpart h2
{
	font-size:26px;
	font-family:'Aller_Std_Rg';
	font-weight:700;
}

.landingmainoracle.landingmainforexeducation.landingmainformtype2.landingmainformtype4edu .mainbannermainpart .mainbannertextpart{
	max-width:800px;
}

.landingmainoracle.landingmainforexeducation.landingmainformtype2 .maintextpart{
	max-width:550px;
}

.landingmainoracle.landingmainforexeducation.landingmainformtype2 .formouter h3{
	font-size:38px;
}

.landingmainoracle.landingmainforexeducation.landingmainformtype2.landingmainformtype4edu .alliconsdesktop .iconcolumn .icontext p{
	font-family:'Aller_Std_Rg';
}

.landingmainoracle.landingmainforexeducation.landingmainformtype2.landingmainformtype4edu .alliconsdesktop .iconstitle h2{
	font-family:'Aller_Std_Rg';
}

.landingmainoracle.landingmainforexeducation.landingmainformtype2.landingmainformstocks4 .alliconsdesktop .iconstitle h2{
	font-size:20px;
	margin-top:24px;
	margin-bottom:25px;
}

.landingmainoracle.landingmainforexeducation .risklink p
{
	font-family:'Aller_Std_Rg';
}

.landingmainoracle.landingmainforexeducation.landingmainformtype2.landingmainformtype4edu .alliconsdesktop .iconstitle h2 br{
	display:block;
}

.landingmainoracle.landingmainforexeducation.landingmainformtype2.type4forex .mainbannermainpart h2{
	font-family:'Aller_Std_Rg';
	font-weight:700;
	font-size:23px;
}

.landingmainoracle.landingmainforexeducation.landingmainformtype2.type4forex .alliconsdesktop .iconstitle h2 br{
	display:block;
}

@media (max-width:1200px)
{
	.landingmainoracle.landingmainforexeducation.landingmainformtype2.landingmainformtype4edu .mainbannermainpart h2
	{
		font-size:24px;
	}
}



@media (max-width:1000px)
{
	.landingmainoracle.landingmainforexeducation.landingmainformtype2.landingmainformtype4edu .mainbannermainpart h2
	{
		font-size:23px;
	}
	
	.landingmainoracle.landingmainforexeducation.landingmainformtype2.landingmainformstocks4 .mainbannermainpart h2
	{
		font-size:19px;
	}
	
	.landingmainoracle.landingmainforexeducation.landingmainformtype2.landingmainformstocks4 .alliconsdesktop .iconstitle h2{
		font-size:20px;
		margin-top:44px;
		margin-bottom:25px;
	}
	
	.landingmainoracle.landingmainforexeducation.landingmainformtype2.landingmainformstocks4 .mainbannermainpart .mainbannertextpart
	{
		max-width:500px;
	}
}

@media (max-width:850px)
{
	.landingmainoracle.landingmainforexeducation.landingmainformtype2.type4forex .mainbannermainpart h2
	{
		font-size:17px;
	}
}


@media (max-width:750px)
{
	.landingmainoracle.landingmainforexeducation.landingmainformtype2.landingmainformtype4edu.landingmainformstocks4 .mainbannermainpart h2 br
	{
		display:block;
	}
}



@media (max-width:720px)
{
	.landingmainoracle.landingmainforexeducation.landingmainformtype2.landingmainformtype4edu .mainbannermainpart .mainbannertextpart
	{
		max-width:350px;
		background:rgba(255,255,255,0.5);
	}
	
	.landingmainoracle.landingmainforexeducation.landingmainformtype2.landingmainformtype4edu .mainbannermainpart h2
	{
		font-size:17px;
	}
	
	.landingmainoracle.landingmainforexeducation.landingmainformtype2.landingmainformtype4edu .mainbannermainpart h2 br
	{
		display:block;
	}
	
	.landingmainoracle.landingmainforexeducation.landingmainformtype2.landingmainformtype4 .maintitlebgr h1
	{
		font-size:27px;
		line-height:30px;
	}
	
	.landingmainoracle.landingmainforexeducation.landingmainformtype2.landingmainformtype4edu .maintextpart p
	{
		font-size:16px;
	}
	
	.landingmainoracle.landingmainforexeducation.landingmainformtype2.landingmainformtype4 .formouter h3
	{
		font-size:23px;
	}
}


@media (max-width:700px)
{
	.landingmainoracle.landingmainforexeducation.landingmainformtype2.landingmainformtype4edu .mainbannermainpart h2
	{
		font-size:18px;
	}
	
	.landingmainoracle.landingmainforexeducation.landingmainformtype2.landingmainformtype4edu .alliconsdesktop .iconstitle h2
	{
		font-size:18px;
	}
	
	.landingmainoracle.landingmainforexeducation.landingmainformtype2.landingmainformtype4edu .alliconsdesktop .iconstitle h2 br{
		display:none;
	}
}

@media (max-width:630px)
{
	.landingmainoracle.landingmainforexeducation.landingmainformtype2.landingmainformstocks4 .alliconsdesktop .iconstitle h2
	{
		margin-top:0px;
	}
}



@media (max-width:530px)
{
	.landingmainoracle.landingmainforexeducation.landingmainformtype2.landingmainformtype4edu .mainbannermainpart h2
	{
		font-size:17px;
	}
	
	.landingmainoracle.landingmainforexeducation.landingmainformtype2.landingmainformtype4edu .mainbannermainpart h2 br{
		display:block;
	}
	
	.landingmainoracle.landingmainforexeducation.landingmainformtype2.landingmainformtype4 .formouter h3{
		font-size:19px;
	}
}

@media (max-width:480px)
{
	.landingmainoracle.landingmainforexeducation.landingmainformtype2.type4forex .mainbannermainpart h2
	{
		font-size:16px;
	}
}


@media (max-width:380px)
{
	.landingmainoracle.landingmainforexeducation.landingmainformtype2.landingmainformtype4edu .mainbannermainpart h2
	{
		font-size:13px;
		font-weight:normal;
	}
}

@media (max-width:370px)
{
	.landingmainoracle.landingmainforexeducation.landingmainformtype2.landingmainformtype4edu.landingmainformstocks4 .mainbannermainpart .mainbannertextpart
	{
		max-width:190px;
	}
	
	.landingmainoracle.landingmainforexeducation.landingmainformtype2.landingmainformtype4edu.landingmainformstocks4 .mainbannermainpart h2 br
	{
		display:none;
	}
	
	.landingmainoracle.landingmainforexeducation.landingmainformtype2.landingmainformtype4edu.landingmainformstocks4 .mainbannermainpart h2 span
	{
		display:block;
	}
}



